<% provide(:title, @title) %>
    <div class="user_info">
      <h1><%= @user.dis_name %></h1>
    </div>
 
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <% @users.each do |user| %>
        	<h5><%= user.dis_name %></h5>
        <% end %>
      </ul>
    <% end %>
