<a href="" onclick="$('#new-post-wrapper').toggle(); event.preventDefault()"><h4>What Kind of Kool-Aid you Sippin' On?</h4></a>
<div id="new-post-wrapper">
	<%= render "posts/form" %>
</div>

<div class="posts">
	<% @posts.reverse.each do |post| %>
		<%= render post %>
<% end %>
</div>