<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<div class="post-wrapper">
	<%= form_with model: @post, url: user_posts_path do |f| %>
		<input type="hidden" name="user_id" value="current_user.id">

		<div class="title-wrapper">
			<strong><%= f.text_field :title, required: true, placeholder: 'Title' %></strong>
		</div>
		<div class="content-wrapper">
			<%= f.text_area :content, required: true, placeholder: 'Post Body' %>
		</div>
		<div class="options-wrapper">
			<%= f.submit %>
		</div>
	<% end %>
</div>
