/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */

@import 'bootstrap';
@import 'comments';
@import 'home';
@import 'posts';
@import 'comments';
@import 'users';

body{
	background: ghostwhite;
}
#user_info{
	height: 500px;
	max-height: 800px;
	widows: 100%;
	border: solid 1px black;
	box-sizing: border-box;
	overflow: auto;
	background: white;
	margin-top: 1%;

	#user-name-wrapper{
		height: auto;
		margin: 2% auto;
		text-align: center;
		border:solid;
	}

	#user-info-wrapper{
		height: auto;
		margin: 2% auto;
		border:solid 1px black;
		.posts_comments{
			align-content: center;
			margin: 0 5%;
			.user-post-count{
				width: 45%;
				display: inline-block;
				text-align: center;
			}
			.user-comment-count{
				width: 45%;
				display: inline-block;
				text-align: center;
			}
		}
		.followers-following{
			align-content: center;
			margin: 0 5%;
			.user-following{
				width: 45%;
				display: inline-block;
				text-align: center;
			}
			.user-followers{
				width: 45%;
				display: inline-block;
				text-align: center;
			}
		}
		#about{
			margin: 2%;
			padding: 2%;
			overflow: auto;
			border: solid 1px black;
		}
	}
}