// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-wrapper{
	height: auto;
	widows: 100%;
	border: solid 1px black;
	margin-bottom: 0.25%;
	background: white;

	.title-wrapper{
		height: auto;
		margin: 0 5%;
		padding: 2%;
	}

	.content-wrapper{
		height: auto;
		margin: 0 5%;
		padding: 2%;

		textarea{
			width: 100%;
			overflow: hidden;
		}
	}

	.new-comment-wrapper{
		display: none;
	}

	.comment-wrapper{
		display: none;
		textarea{
			overflow: hidden;
		}
	}

	.options-wrapper{
		margin: 0 7%;
		margin-bottom: 1%;
		.options{
			margin-right: 1%;
		}
	}

	.comment-content-wrapper{
		width: 80%;
		margin: 0.25% 10%;
		border: solid 1px black;
	}
}

#new-post-wrapper{
	display: none;
	height: auto;
	widows: 100%;
	border: solid 1px black;
	background: white;

	.title-wrapper{
		height: auto;
		margin: 0 5%;
		padding: 2%;
	}

	.content-wrapper{
		height: auto;
		margin: 0 5%;
		padding: 2%;

		textarea{
			width: 100%;
			overflow: hidden;
		}
	}
}