// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-wrapper{
	height: auto;
	widows: 100%;
	border: solid 1px black;
	margin-top: 1%;
	.title-wrapper{
		height: auto;
		margin: 2% 5%;
		padding: 2%;
		border:solid;
	}

	.content-wrapper{
		height: auto;
		margin: 2% 5%;
		padding: 2%;
		border:solid;

		textarea{
			width: 100%;
		}
	}
}