<ul class="list-group">
<% @users.each do |user| %>
	<li class="list-group-item list-group-item-action">
		<form action="/profile" method="POST" id="<%= user.id %>">
  		<input type="hidden" name="that_user" value="<%= user.dis_name %>">
  		<a onclick="document.getElementById('<%= user.id %>').submit();"><%= user.dis_name %></a>
  	</form>
	</li>
<% end %>
</ul> 